<div>
  <h2>Welcome to home page user {{ user }}</h2>
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <br />

  <span *ngFor="let p of products">
    <span
      *ngIf="
        searchText === '' ||
        p.pname.toLowerCase().includes(searchText.toLowerCase())
      "
    >
      <img src="{{ p.url }}" width="300px" height="300px" />
      {{ p.pname }} {{ p.price }} {{ p.type }} {{ p.description }}
      <input type="button" value="Buy" (click)="deleteProduct(p.pid)" />
    </span>
  </span>

  <input type="button" value="logout" (click)="logout()" />
</div>
